body {
    margin:0 auto;
    margin-bottom:15px;
    background-color:#FFFFFF;
    color:#000000;
    font-family:'Verdana',sans-serif;
    text-align:center;
}

div#head {
    height:200px;
    width:100%;
    margin:0 auto;
    background-image:url(../images/banner.png);
    background-repeat:no-repeat;
    background-position:center;
}

div#main {
    width:1000px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:15px;
    font-size:110%;
}

div.headline {
    margin-top:15px;
    color:#D81920;
    font-weight:bold;
}

div.content {
    margin-top:10px;
    font-size:80%;
}

div.content_columns{
    width:500px;
    margin:0 auto;
    margin-top:10px;
    font-size:80%;
}

div.subheadline {
    color:#006CB7;
    font-weight:bold;
}

div.column {
    width:50%;
    float:left;
    margin-bottom:10px;
}

div#subsidy{
    clear:both;
}

div#subsidy_logo {
    height:150px;
    width:129px;
    margin:0 auto;
    margin-bottom:5px;
    background-image:url(../images/logo_eu-fonds.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

div.section {
    margin-top:5px;
    font-weight:bold;
    clear:both;
}

div.centered {
    text-align:center;
}

div.justified {
    text-align:justify;
}

div.justified_margin_top {
    margin:0 auto;
    margin-top:5px;
    text-align:justify;
}

div.annotation {
    margin-top:5px;
    font-size:60%;
}

div.screenshot_container {
    width:650px;
    margin:0 auto;
    margin-top:5px;
}

div.screenshot_container_large {
    width:1000px;
    margin:0 auto;
    margin-top:5px;
}

div.screenshot_container_separator {
    clear:both;
}

div.screenshot_left {
    height:200px;
    width:300px;
    float:left;
    border-style:dashed;
    border-width:1px;
    border-color:#006CB7;
}

div.screenshot_right {
    height:200px;
    width:300px;
    float:right;
    border-style:dashed;
    border-width:1px;
    border-color:#006CB7;
}

div.screenshot_center {
    height:200px;
    width:300px;
    margin:0 auto;
    border-style:dashed;
    border-width:1px;
    border-color:#006CB7;
}

div.screenshot_center_large {
    height:400px;
    width:650px;
    margin:0 auto;
    border-style:dashed;
    border-width:1px;
    border-color:#006CB7;
}

div.screenshot_fill {
    height:200px;
    width:300px;
    margin:0 auto;
}

div.screenshot_left_annotation {
    width:300px;
    float:left;
    margin-bottom:5px;
    text-align:justify;
}

div.screenshot_right_annotation {
    width:300px;
    float:right;
    margin-bottom:5px;
    text-align:justify;
}

div.screenshot_center_annotation {
    width:300px;
    margin:0 auto;
    margin-bottom:5px;
}

div.screenshot_center_large_annotation {
    width:650px;
    margin:0 auto;
    margin-bottom:5px;
}

div.screenshot_fill_annotation {
    width:300px;
    margin:0 auto;
    margin-bottom:5px;
}

a {
    color:#006CB7;
    text-decoration:none;
}

a:hover {
    color:#D81920;
    text-decoration:none;
}

a.subheadline_anchor {
    color:#006CB7;
    text-decoration:none;
}

a.subheadline_anchor:hover {
    color:#006CB7;
    text-decoration:none;
}

a.section_anchor {
    color:#000000;
    text-decoration:none;
}

a.section_anchor:hover {
    color:#000000;
    text-decoration:none;
}

a.section_ref {
    font-size:80%;
}

span.bold {
    font-weight:bold;
}

span.italic {
    font-style:italic;
}

span.small {
    font-size:60%;
}
